@import url("../public/fonts/clash-display.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.underline-effect {
  @apply relative p-0;
}

.underline-effect::after {
  @apply content-[''] absolute w-full h-[5px] left-0 bottom-[-4px] bg-lightPurple origin-bottom-right hover:origin-bottom-left scale-x-0 hover:scale-x-100 transition-transform duration-300;
}

/* .heading-text {
    @apply bg-gradient-to-br from-[#FFFFFF] to-[#AAAAAA] bg-clip-text p-4 font-radiofont text-6xl font-extrabold text-transparent;
  } */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.clash-display {
  font-family: "ClashDisplay-Variable";
}

.resp-px {
  @apply px-4 md:px-10 lg:px-20;
}

.mesh-gradient-bg {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 100% 100%,
      hsla(283, 60%, 35%, 0.62) 0px,
      transparent 50%
    ),
    radial-gradient(at 52% 50%, hsla(12, 60%, 27%, 0.27) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(252, 60%, 35%, 0.69) 0px, transparent 50%);
}

.radial-bg {
  background: radial-gradient(ellipse at top, #8172e9, #41196f);
  background-color: transparent;
}

.darker-grotesque {
  font-family: var(--font-darker-grotesque);
  font-optical-sizing: auto;
  font-style: normal;
}

.masonry {
  --gap: clamp(1rem, 5vmin, 2rem);
  columns: 150px;
  gap: var(--gap);
  width: 96%;
  max-width: 960px;
  margin: 5rem auto;
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}
